@font-face {
    font-family: "BebasNeue-Regular";
    src: url(./Assets/BebasNeue-Regular.ttf);
}

.pos{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
    background-color: #222;
    overflow: hidden;
}

.container{
    flex-direction: column;
    height: 90vh;
    width: 70vw;
    min-width: 1280px;
    min-height: 720px;
}

.heading{
    border: 1px solid black;
    width: 700px;
    height: 100px;
    text-align: center;
}

.heading>h1{
    font-family: "BebasNeue-Regular";
    margin: 0;
    padding: 0;
    font-size: 3em;
    color: aliceblue;
}

.search{
    border: 1px solid red;
    width: 700px;
    height: 100px;
}

.randomButtons{
    border: 1px solid green;
    width: 700px;
    height: 100px;
}

.meals{
    border: 1px solid blue;
    width: 700px;
    height: 900px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.searchSuggestions{
    background-color: aliceblue;
    padding: 10px;
    top: 106px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: fit-content;
    width: 450px;
    border-radius: 5px;
}

.singleSuggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}

.singleSuggestion:hover {
    transform: scale(1.04);
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}

.favIcon{
    margin-right: 10px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.para {
    color: red;
    cursor: pointer;
}

.detailsPage{
    background-color: aliceblue;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
}
.detailsPageAnimate {
    animation: detailsPageMove 0.5s steps(30) forwards;
    height: 450px; 
    width: 450px;
    padding: 20px;
}
@keyframes detailsPageMove {
    from {top: 500px; height: 0px; opacity: 0.2;}
    to {top: 100px; height: 450px; opacity: 1}
}

.border {
    border: 1px solid black;
}

.detailsPageCont {
    height: 160px;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.detailsPageImage {
    height: 150px;
    width: 150px;
}

.detailsPageText {
    height: 160px;
    width: 300px;
}

.detailsPageTextData{
    height: 50px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.singleFavMealCont {
    height: 160px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}